//Colors

$color-primary-dark: #2a3867;
$color-primary-dark-inverted: #d5c798;
$color-primary-dark-inverted-lighter: #efead8;
$color-primary-dark-darker: #222d52 ;
$color-primary-medium: #868BB1;
$color-primary-medium-darker: #626897;
$color-primary-medium-inverted: #79744e;
$color-primary-light: #8794BD;
$color-main-text: #777;
$color-navigation-text: #888888; 
// $color-gray-background: #cab97e;


//Fonts
$font-main-text: sans-serif;


//Responsive breakpoints
$bp-largest: 75em;    //1200px (1200/16)
$bp-large: 62em;      //1000px
$bp-medium: 50em;      //800px
$bp-small: 40em;      //650px
$bp-smaller: 34em;      //550px
