*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 40%; } }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  font-size: 1.5rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 62em) {
    body {
      padding: 0rem; } }

.App {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 1fr [full-end];
  grid-template-rows: min-content 80vh repeat(10, min-content); }
  @media only screen and (max-width: 62em) {
    .App {
      grid-template-columns: [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end];
      grid-template-rows: min-content 80vh repeat(10, min-content); } }
  @media only screen and (max-width: 75em) {
    .App {
      grid-template-rows: min-content 90vh repeat(10, min-content); } }

.admin-main-content {
  grid-column: content-start / content-end; }

.title {
  font-size: 4rem;
  align-self: center;
  justify-self: center; }
  @media only screen and (max-width: 40em) {
    .title {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 34em) {
    .title {
      font-size: 3rem; } }

button:link,
button:visited {
  border: none; }

.button-primary {
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .button-primary-light {
    background-color: #d5c798;
    color: #2a3867; }
    .button-primary-light:hover {
      transform: translateY(-3px) scale(1.03);
      filter: brightness(70%);
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); }
    .button-primary-light:active {
      transform: translateY(-1px) scale(1.01);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }
  .button-primary-dark {
    background-color: #2a3867;
    color: #d5c798; }
    .button-primary-dark:hover {
      background-color: #868BB1;
      transform: translateY(-3px) scale(1.03);
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); }
    .button-primary-dark:active {
      transform: translateY(-1px) scale(1.01);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }

.nav-bar {
  display: grid;
  grid-column: content-start / content-end;
  grid-template-columns: 30rem 1fr 30rem;
  z-index: 999;
  max-height: 0rem;
  width: 100%;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: -100px;
  margin-top: 1rem;
  opacity: 0; }

.stickybar {
  display: grid;
  grid-column: content-start / content-end;
  grid-template-columns: 30rem 1fr max-content;
  z-index: 999;
  width: 100%;
  padding: 1.7rem 2rem;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: -100px;
  margin-top: 1rem;
  opacity: 0;
  position: sticky;
  max-height: 8rem;
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid gainsboro; }

.nav-logo {
  width: 100%;
  margin-bottom: 1rem;
  align-self: top; }

.nav-contact {
  grid-column-end: -1;
  padding: .7rem 0;
  color: #888888;
  text-transform: uppercase;
  font-size: 2rem;
  align-self: top;
  justify-self: right; }

.header {
  background-image: linear-gradient(to right bottom, rgba(134, 139, 177, 0.9), rgba(42, 56, 103, 0.9)), url(images/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-column: content-start / content-end;
  grid-template-rows: 1fr min-content min-content .5fr min-content;
  padding: 3rem;
  color: #d5c798; }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 5rem; } }

.header-logo {
  width: 12rem; }
  @media only screen and (max-width: 34em) {
    .header-logo {
      width: 10rem; } }

.header-slogan {
  font-size: 4rem;
  filter: brightness(120%); }
  @media only screen and (max-width: 50em) {
    .header-slogan {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 34em) {
    .header-slogan {
      font-size: 3rem; } }

.header-description {
  font-size: 2rem; }
  @media only screen and (max-width: 40em) {
    .header-description {
      font-size: 1.7rem; } }

.header-action {
  align-self: center;
  grid-row: 5 / -1;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 1.5rem;
  font-size: 1.7rem; }

.header-action-text {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 1rem; }
  .header-action-text::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
    align-self: center; }

.header-action-button {
  padding-left: 1rem; }

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: content-start / content-end;
  border-bottom: 1px solid gainsboro; }

.title-about {
  grid-column: 1 / -1;
  padding-top: 3rem; }

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 4rem;
  padding: 6rem 3rem; }
  @media only screen and (max-width: 62em) {
    .about-cards {
      padding: 8rem;
      grid-column-gap: 3.5rem; } }

.about-card {
  display: grid;
  grid-template-columns: min-content 1fr; }

.about-icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: #2a3867;
  margin-right: 1.5rem; }

.about-text-title {
  font-weight: 700;
  font-size: 1.7rem; }

.about-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(4.5rem, max-content);
  grid-row-gap: 3rem;
  align-items: start; }

.property-card {
  background-color: #efead8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem;
  color: #2a3867;
  grid-row-gap: 3.5rem;
  padding-bottom: 2rem;
  transition: all .3s;
  border-radius: 3px;
  cursor: pointer; }
  .property-card:hover {
    transform: translateY(-0.5rem) scale(1.03);
    filter: brightness(70%);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2); }
  .property-card:active {
    transform: translateY(-0.2rem) scale(1.01);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); }

.property-display-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  grid-column: 1/-1;
  grid-row: 1/ 2;
  z-index: 5;
  border-radius: 3px; }

.property-offering {
  background-color: #d5c798;
  grid-column: 2 /-1;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: start;
  margin: 1.5rem;
  padding: .5rem .8rem;
  z-index: 10;
  border-radius: 3px; }

.property-title {
  grid-column: 1/-1;
  grid-row: 1 / 2;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-image: linear-gradient(to right bottom, #626897, #222d52);
  color: #d5c798;
  width: 80%;
  justify-self: center;
  align-self: end;
  z-index: 10;
  transform: translateY(50%);
  border-radius: 3px; }

.property-location {
  font-size: 1.5rem;
  margin: 2rem;
  margin-bottom: 0rem;
  grid-column: 1/-1;
  display: flex; }
  .property-location svg {
    fill: #2a3867;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem; }
  @media only screen and (max-width: 75em) {
    .property-location {
      margin: 1.5rem;
      margin-bottom: 0rem; } }
  @media only screen and (max-width: 40em) {
    .property-location {
      padding-left: 2rem; } }
  @media only screen and (max-width: 34em) {
    .property-location {
      font-size: 1.9rem;
      padding-left: 3.5rem; } }

.property-beds,
.property-baths,
.property-size,
.property-price {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center; }
  .property-beds svg,
  .property-baths svg,
  .property-size svg,
  .property-price svg {
    width: 70%;
    fill: #2a3867;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem; }
  @media only screen and (max-width: 75em) {
    .property-beds,
    .property-baths,
    .property-size,
    .property-price {
      margin-left: 1rem;
      margin-right: 1rem; } }
  @media only screen and (max-width: 50em) {
    .property-beds,
    .property-baths,
    .property-size,
    .property-price {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 40em) {
    .property-beds,
    .property-baths,
    .property-size,
    .property-price {
      font-size: 1.5rem;
      padding-left: 2rem; } }
  @media only screen and (max-width: 34em) {
    .property-beds,
    .property-baths,
    .property-size,
    .property-price {
      font-size: 1.7rem;
      padding: 0rem 3.5rem; } }

.properties-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;
  padding: 5rem 0;
  background-color: #d5c798;
  color: #2a3867;
  grid-column: content-start / content-end; }

.properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 0.4fr));
  grid-gap: 6rem;
  grid-row-gap: 10rem;
  padding: 3rem 6rem;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .properties {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 0.5fr));
      padding: 3rem 8rem; } }
  @media only screen and (max-width: 34em) {
    .properties {
      grid-template-columns: 1fr;
      grid-gap: 10rem;
      padding: 3rem 10rem; } }

.property-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;
  padding: 5rem 0;
  color: #2a3867;
  grid-column: content-start / content-end; }

.testimonial-list {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #efead8;
  padding: 3rem 5rem;
  grid-column: content-start / content-end; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 0.4fr));
  grid-gap: 5rem;
  padding: 3rem 2.5rem;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .testimonials {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 0.6fr));
      grid-gap: 8rem;
      padding: 3rem 8rem; } }
  @media only screen and (max-width: 34em) {
    .testimonials {
      grid-template-columns: 1fr;
      grid-gap: 6rem;
      padding: 3rem 4rem; } }

.testimonial-card {
  background-color: #efead8;
  color: #2a3867;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem; }

.testimonial-display-image {
  width: 50%;
  background-size: cover;
  background-position: center;
  justify-self: center;
  align-self: center;
  padding: 1rem;
  border-radius: 50%; }

.testimonial-title {
  font-size: 2rem;
  justify-self: center;
  margin-top: 2rem;
  text-align: center; }

.testimonial-content {
  margin-top: 3rem;
  justify-self: center;
  text-align: center; }

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: content-start / content-end; }

.contact-title {
  padding-top: 4rem; }

.contact-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(3, 4rem) 12rem min-content;
  grid-gap: 2rem;
  padding: 6rem; }

.contact-form-button {
  grid-column: 2; }

.form-label {
  margin-right: 3rem; }

.form-input {
  width: 100%;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: 1px solid #777;
  font-family: inherit;
  border-radius: 2px; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #2a3867; }

.footer {
  background-color: #393f4d;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: 50% 1fr max-content;
  padding: 6rem 2rem; }

.footer-signin {
  grid-column: 3/ -1;
  align-self: center; }
  .footer-signin a {
    text-decoration: none;
    color: inherit; }

.admin-main {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [content-end] 1fr [full-end]; }

.admin-main-content {
  padding: 3rem; }

.admin-form-element {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 1rem; }

.admin-form-element-long {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 15% 1fr;
  grid-gap: 1rem; }

.admin-form-button {
  grid-column-start: 1;
  width: 100%; }

.admin-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0.4fr));
  grid-column: content-start / content-end;
  padding: 5rem;
  grid-gap: 5rem; }

.nav-action-button {
  width: 100%;
  justify-self: center;
  align-self: center; }

.admin-header {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr max-content 1fr;
  padding: 5rem; }

.admin-header-logo {
  width: 24rem; }

.admin-header-title {
  grid-row: 2;
  grid-column: 2; }

.properties-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem; }
